[general]
servername=uniqueservername
alertcontact=youremail@example.com

[email]
user=agmailaccountyoucreate@gmail.com
pass=yourpassword
smtpserver=smtp.gmail.com
smtpport=587
imapserver=imap.gmail.com
#I create a filter that automatically deletes my sent messages.
# This way, anyone who hacks the account only sees the last 30 days of messages I've sent
ideletesentmessagesautomatically=True
#If set, append a random number to prevent gmail threading
bustgmailthreading=False

[peers]
peer1=http://someserver.com:5000,admin@someserverbackup.com
peer2=http://someotherserver.com:5000,admin@someotherserver.com